[submodule "Advanced-Python"]
	path = Advanced-Python
	url = https://github.com/rennaMAhcuS/Advanced-Python
[submodule "ctf-writeups"]
	path = ctf-writeups
	url = https://github.com/CSeCIITB/ctf-writeups
